<p align="justify">Definir quais são as características importantes em uma partida de League of legends requer certo conhecimento do
jogo e das respectivas posições, pois é necessário englobar cada aspecto que define a diversidade de posições e
estilos de personagens e de jogadores, para que alguma posição ou estratégia não fique favorecida ou desfavorecida
frente às outras, inicialmente as seguintes características presentes na tabela abaixo foram tomadas, juntamente com
a explicação do porque da sua escolha.</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nome da característica</th>
        <th>Explicação da escolha</th>
      </tr>
    </thead>
    <tbody>
       <tr>
            <td>Relative goldEarned</td>
            <td><p align="justify">O ouro ganho é uma das principais características do jogo e ele geralmente é uma
                forte característica de desempenho uma vez que o jogador que possuí mais ouro geralmente esta
                desempenhando um papel melhor na partida.</p></td>
        </tr>
        <tr>
            <td>Relative magicDamageDealt</td>
            <td><p align="justify">O dano magico é uma das três formas de dano de jogo e a principal forma de dano
                dos personagens conhecidos como magos que tem a maior parte do dano proveniente de habilidades/skills,
                os magos estão frequentemente relacionados com a rota do meio, portanto essa característica é muito
                importante para mensurar tanto os jogadores que estiverem jogando com personagens magos em outras rotas,
                quanto na rota do meio.</p></td>
        </tr>
        <tr>
            <td>Relative physicalDamageDealt</td>
            <td><p align="justify">O dano fisico é uma das três formas de dano do jogo e a principal forma de dos
                personagens conhecidos como atiradores que tem a maior parte do dano proveniente dos ataques básicos,
                os atiradores estão frequentemente relacionados à rota conhecida como bot ficando junto aos supports,
                ao contrario do dano magico o dano físico é uma característica que é importante a outras classes do
                jogo como jungles ou top laners.</p></td>
        </tr>
       <tr>
            <td>Relative totalDamageDealt</td>
            <td><p align="justify">O dano total junta as três formas de dano do jogo e é uma característica importante
                para personagens e/ou rotas que tem a função de aplicar as maiores quantidades de dano do time.</p></td>
        </tr>
       <tr>
            <td>Relative totalDamageTaken</td>
            <td><p align="justify">O dano total recebido é uma característica muito importante a alguns personagens do
                jogo que pertencem a uma classe que é muito relacionada com a rota do topo e que é denominada de tank,
                que são aqueles campeões que se colocam nas linhas de frente das batalhas e vão absorver a maior parte
                do dano do time inimigo, essa característica também serve para medir o desempenho de jogadores com personagens
                que devem evitar o dano da equipe inimiga por serem muito frágeis.  </p></td>
        </tr>
        <tr>
            <td>Relative totalMinionsKilled</td>
            <td><p align="justify">O total de mínios mortos e uma caraterística fundamental para jogadores das rotas solos, top e mid,
                e o ad carry, pois são eles que vão acumular recursos matando os mínios das suas rotas, então quanto maior a quantidade
                de mínios mortos maior a quantidade de ouro e quanto maior a quantidade de ouro maior a quantidade de itens e maior vai
                ser o impacto dessas rotas no jogo.</p></td>
        </tr>
       <tr>
            <td>Relative  visionScore</td>
            <td><p align="justify">O escore de visão é uma caraterística que é gerada pelo jogo com base em diversos fatores
                relacionados à visão de jogo, que geralmente é atribuída aos supports, então essa é uma característica importante
                para definir o quão bem um support esta realizando o seu trabalho de visão no mapa.</p></td>
        </tr>
       <tr>
            <td>Relative neutralMinionsKilled</td>
            <td><p align="justify">Os mínios neutros estão presentes nas selvas dos times e matá-los é responsabilidade dos jogadores
                da rota conhecida como jungle então esta é uma característica muito importante para eles, já que matar os minions da
                jungle é a principal forma dos jungles conseguirem ouro no começo do jogo.</p></td>
        </tr>
    </tbody>
</table>