<p align="justify">Devido à grande quantidade de personagens combinado com a diversidade de posições e os diferentes estilos de jogo de cada jogador,
fazer uma modelagem mais geral do nível de habilidade de um jogador se torna uma tarefa muito difícil, pois as variáveis que interferem
nessa mensuração não são gerais no ambiente do jogo, como por exemplo, um jogador pode ter um bom desempenho em uma determinada posição
do jogo, mas não apresentar esse mesmo nível jogando em uma posição diferente, ou pode existir algum personagem que ele domina e joga
bem enquanto que com outros ele não consegue mostrar a mesma performance. Uma alternativa para esse problema seria fazer uma mensuração
do nível do jogador para cada aspecto importante do jogo levando em consideração a posição e o personagem que esta sendo jogado, dessa
forma se pode com diferentes panoramas específicos determinar com maior precisão os pontos fortes e fracos do jogador sem a necessidade
    de tratar isso apenas como um valor escalar.</p>
