<p align="justify"><b>Previsão do resultado das partidas:</b> Com base nos níveis de habilidade de cada jogador nas suas determinadas rotas, que são calculados
a partir de partidas anteriores jogadas na posição e o nível de maestria de um jogador com o personagem escolhido, determinar a
probabilidade do time A ganhar do time B ou vice-versa.</p>
<p align="justify"><b>Tutorial e treinamento:</b> Identificar quais os pontos fortes e fracos dos jogadores em diferentes rotas e com diferentes personagens a
    fim de melhoras as ferramentas de tutorial e treinamento adaptando-as aos diferentes tipos de jogadores e à suas dificuldades.</p>
<p align="justify"><b>Diferenciação das ligas e regiões:</b> Entender como uma determinada liga ou região joga o jogo a partir dos níveis de habilidades dos
seus jogadores com o objetivo de aprender como o jogo é jogado, tendo possíveis aplicações praticas em sistemas de balanceamento de
    personagens e de jogo.</p>